.content {
  position: static;
  height: 100%;
  /* background-color: var(--color-background-primary); */
  /* background-color: red; */
}
.container {
  overflow: hidden;

position: relative;
min-height: 85vh;
/* padding: 0.5em 0; */
margin: 0.5em auto;
background-color: var(--color-background-primary);
/* box-shadow: 0px 0px 15px 1px rgba(63, 63, 63, 0.2); */
/* max-width: 30em; */
}
